/* All document */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

html {
    /* scroll smoothly via more button */
    scroll-behavior: smooth;
    font-family: inter;
}

body{
    margin: 0%;
    padding: 0%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}


#top-nav {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    height: 48px;
    background-color: white;
}

#top-nav h5 {
    position: fixed;
    left: 0;
    margin: 10px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}


/* used https://isabelcastillo.com/pure-css-mobile-toggle-menu to guide */
#menu, #menu-bottom,
#top-nav > input {
    display: none;
}

#top-nav label {
    display: flex;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    margin: 10px 35px;
}

#top-nav > input:checked + #menu {
    display: flex;
    flex-direction: column;
    clear: both;
    position: relative;
    top: 0px;
    right: 0%;
    left: 0px;
    width: 100vw;
    height: 80vh;
    margin-top: 48px;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    list-style: none;
}

#top-nav > input:checked + #menu-bottom {
    display: flex;
    position: fixed;
    bottom: 0px;
    background-color: #E5E5E5;
    width: 100vw;
    height: 20vh;
}
